

/* NAVBAR */

nav {
  background-color: #89FCB3;
  opacity: 90%;
}

.cart-widget {
  color:#3D3D3D;
}

#navbar-items {
  color:#3D3D3D;
  display: flex;
  justify-content: end;
}

#navbar-items:hover {
  color:grey;
}

/* SEARCH BAR */
.search-bar {
  width:100%;
  border: 1px solid #3D3D3D;
  border-radius: 10px;
}

/* CAROUSEL  */

/* .carousel-inner {
  height: 250px;
} */

/* MAIN */

.card {
  color:#3D3D3D;
}

/* .item-list{
  justify-content: space-around;
} */

/* ITEM COUNT */

.decrement, .increment {
  border: 1px solid #3D3D3D
}

.item-count{
  background-color: #3D3D3D;
}

/* FOOTER */

footer {
  background-color: #3D3D3D;
  color:#FFFFF7;
}

footer p {
  font-weight: lighter;
  margin-bottom: 5px;
}

footer h5{
  margin-bottom: 10px;
}

.developed {
  color: lightgreen;
}

@media (min-width: 575px) { 
  .card {
    width: 50%;
  }
}

@media (min-width: 991px) { 
  .card {
    width: 25%;
  }
}
