#root {
  background-image: url(/assets/background-geeks.png);
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: scroll;
}

/* NAVBAR */

nav {
  background-color: #89FCB3;
  opacity: 95%;
  height: 80px;
  box-shadow: #989999 0px 0px 10px;
}

.cart-widget {
  color:#3D3D3D;
}

.icon{
  font-size: 20px;
}

#navbar-items {
  color:#3D3D3D;
}

.nav-link.active{
  background: #89FCB3 !important;
  color: #3D3D3D !important;
  padding: 0.5em;
  font-weight: 700;
}

#responsive-navbar-nav {
  background: #89FCB3 !important;
  color: #3D3D3D !important;
  padding: 0.5em;
  text-align: end;
}

/* #responsive-navbar-nav{
 display: flex;
 justify-content: end;
 width: 50%;
} */

/* SEARCH BAR */
.search-bar {
  width:100%;
  border: 1px solid #3D3D3D;
  border-radius: 10px;
}

/* CAROUSEL  */

/* .carousel-inner {
  height: 250px;
} */



/* MAIN */

.card {
  color:#3D3D3D;
  width: 100%;
}

.order-number{
  font-weight: 200;
  height: 60vh;
}

.pre-order{
  font-weight: 200;
  height: 60vh;
}

h4{
  font-weight: 200;
}

/* .item-list{
  justify-content: space-around;
} */


/* ITEM COUNT */

.decrement, .increment {
  border: 1px solid #3D3D3D
}

.item-count{
  background-color: #3D3D3D;
}



/*CART */

.empty-cart-container{
  height: 60vh;
}

.total-container{
  font-weight: 200;
  padding: 0.5em 1em 0 1em
}

.total{
  font-weight: 600;
}

.description{
  font-weight: 700;
}

.message{
  font-weight: 300;
}

.product-error{
  height: 60vh;
}

/* ABOUT US */

.about-us-container{
  height: 60vh;
}

.about-us{
  height: max-content;
}

/* CONTACT */

.contact{
  font-size: 20px;
}

/* FOOTER */

footer {
  background-color: #3D3D3D;
  color:#FFFFF7;
  height: max-content;
}

footer p {
  font-weight: lighter;
  margin-bottom: 5px;
}

footer h5{
  margin-bottom: 10px;
}

.developed {
  color: lightgreen;
}

#social-media {
  color:#FFFFF7;
  font-size: 10px;
}

/* CHECKOUT */

#form-control-checkout{
  border: none;
  background-color: #FFFFF7;
}

#form-label-checkout{
  color: #3D3D3D;
  font-weight: light;
}

form{
  width: 40%;
}

hr{
  border: 1.5px solid #3D3D3D;
}

/* MEDIA QUERIES */ 

/* @media (min-width: 750px) {
  .card {
    width: 100%;
  }
} */

@media (max-width: 768px) { 
  .card {
  width: 100%;
  }

  .product-container{
    flex-direction: column;
  }

  .cart-container{
    flex-direction: column;
    width: 100%;
    align-items: start;
  }

  .description, .delete, .quantity, .price {
    margin-bottom: 5px;
  }

  .buttons-container{
  flex-direction: column;
  width: 50%;
  }
  
  }
@media (max-width: 991px){
  a.cart{
    display: none;
  }

  .footer-item {
    text-align: center;
  }

}  

@media (min-width: 769px) { 
  .card {
    width: 50%;
  }

  .description{
    align-items: start;
  }

  .product-image{
    align-self: start;
  }
  
  .delete{
    margin-right: -5rem
  }

  .description {
    margin-left: -5rem;
  }
}

@media (min-width: 1024px) { 
  .card {
    width: 25%;
  }
  .item-footer {
    padding: 15px
  }
  
}
